.btn-folder {
    width: 100px;

    img {
        width: 48px;
        height: 48px;
    }

    .text {

        font-size: 12px;
    }

    &:active {
        border-color: transparent !important;
    }
}
