@import "../assets/scss/utils/functions";
@import "../assets/scss/utils/variables";
@import "../assets/scss/utils/mixins";

.btn-folder {
    width: 100px;
    font-size: 11px;
    @include theme("color", $theme-color);

    @include progressStyle();

    .check{
        bottom: 24px;
        right: 23px;
    }
}
