@import "../assets/scss/utils/functions";
@import "../assets/scss/utils/variables";
@import "../assets/scss/utils/mixins";

.playlist-container {
    width: 300px;
    right: 0;
    @include theme("background-color", $theme-bg);

    .playlist-item {
        font-size: 12px;
        text-align: start;
        width: 100%;

        .playlist-item-text {
            max-width: 215px;
        }

        &.active {
            @include theme("background-color", $theme-primary-light);
        }

        @include progressStyle(21px, 2px, 9px, 11px);

        .check {
            bottom: 4px;
            left: 26px;
        }
    }
}
