@import "../assets/scss/utils/functions";
@import "../assets/scss/utils/variables";
@import "../assets/scss/utils/mixins";

.sidebar-container {
    @include theme("background-color", $theme-sidebar-bg);
    height: 100vh;

    .nav {
        .nav-item {
            width: 40px;
            margin: auto;
            display: flex;
            justify-content: center;
        }

        .active .nav-item {
            @include theme("background-color", $theme-primary-semi-light);
        }

        .nav-text {
            display: block;
            visibility: hidden;
            text-align: center;
            margin-top: 4px;
            font-size: 11px;
        }

        .active .nav-text {
            visibility: visible;
        }
    }

    .logo {
        width: 30px;
        height: 30px;

        #one {
            fill: $dark-primary-light !important;
        }

        #two, #three {
            fill: $dark-primary-semi-light !important;
        }
    }
}
