.video-container {
    width: 100%;
    max-width: 100vw;

    &.show-playlist {
        max-width: calc(100vw - 300px);

    }

    .plyr {
        height: 100vh !important;
    }

    .topbar-container {
        background: linear-gradient(#000000bf,#0000);

        z-index: 2;
        .btn {
            font-size: 12px;
        }
    }
}
