@import "base/typography";
@import "base/base";
@import "./utils/variables";
@import "./utils/mixins";

body {
    @include theme("background-color", $theme-bg);
    @include theme("color", $theme-color);
    font-size: 12px;

    a {
        @include theme("color", $theme-color);
    }

    .btn {
        @include theme("color", $theme-color);

        &:focus-visible {
            @include theme("border-color", $theme-color, false, '!important');
        }

        &, &:active {
            border-color: transparent !important;
        }

        &.btn-back {
            font-size: 12px;

            svg {
                @include theme("fill", $theme-color, false, '!important');
            }
        }
    }

    .dropdown {
        .dropdown-toggle {
            font-size: 12px;
        }

        .dropdown-menu {
            @include theme("background-color", $theme-sidebar-bg);
            font-size: 12px;

            .dropdown-item {
                @include theme("color", $theme-sidebar-color);

                &:hover,
                &:focus-visible{
                    @include theme("background-color", $theme-primary-semi-light);
                }
            }
        }
    }
}


*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    @include theme("background-color", $theme-sidebar-bg);
}

*::-webkit-scrollbar {
    width: 7px;
    @include theme("background-color", $theme-bg);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    @include theme("background-color", $theme-primary-semi-light);
}

.watch-list-content {
    max-height: calc(100vh - 65px);
}

.right-0 {
    right: 0;
}
