@use "sass:math";
@import "variables";
@import "bootstrap/scss/mixins";

@mixin themeProperty($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
    @if $additionalPropertiesPositionIsFront {
        #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
    } @else {
        #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
    }
}

@mixin processTheme($module, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
    $light: map-get($themes, $light-theme);
    $dark: map-get($themes, $dark-theme);
    $deep-sapphire: map-get($themes, $deep-sapphire-theme);
    $phthalo-green: map-get($themes, $phthalo-green-theme);
    $mulled-wine: map-get($themes, $mulled-wine-theme);

    @include themeProperty($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

    .#{$dark-theme} & {
        @include themeProperty($dark, $property, '#{$color}', $additionalPropertiesPositionIsFront, $additionalProperties);
    }

    .#{$deep-sapphire-theme} & {
        @include themeProperty($deep-sapphire, $property, '#{$color}', $additionalPropertiesPositionIsFront, $additionalProperties);
    }

    .#{$phthalo-green-theme} & {
        @include themeProperty($phthalo-green, $property, '#{$color}', $additionalPropertiesPositionIsFront, $additionalProperties);
    }

    .#{$mulled-wine-theme} & {
        @include themeProperty($mulled-wine, $property, '#{$color}', $additionalPropertiesPositionIsFront, $additionalProperties);
    }
}

@mixin theme($property, $color, $additionalPropertiesPositionIsFront: false, $additionalProperties: '') {
    @include processTheme(false, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties)
}

@mixin progressStyle($progress-width: 50px,$progress-height: 5px, $bottom:26px, $left: 24px) {
    .progress-container {
        background-color: #fff;
        width: $progress-width;
        height: $progress-height;
        position: absolute;
        bottom: $bottom;
        left: $left;
        border-radius: 4px;

        .progress {
            height: $progress-height;
            border-radius: 4px;
            background-color: #275EAF;
        }
    }
}
