@import "bootstrap/scss/variables";

$dark-theme: "dark-theme";
$light-theme: "light-theme";
$deep-sapphire-theme: "deep-sapphire-theme";
$phthalo-green-theme: "phthalo-green-theme";
$mulled-wine-theme: "mulled-wine-theme";

$primary: #5E9FFF;
$secondary: #E0F4FF;
$primary-semi-light: #447fd2;
$primary-light: #87C4FF;

$dark-primary: #202124;
$dark-secondary: #282C2F;
$dark-primary-semi-light: #323639;
$dark-primary-light: #404042;

$deep-sapphire-primary: #0F2D6B;
$deep-sapphire-secondary: #002062;
$deep-sapphire-primary-semi-light: #0E45B6;
$deep-sapphire-primary-light: #355fb2;

$phthalo-green-primary: #163020;
$phthalo-green-secondary: #274127;
$phthalo-green-primary-semi-light: #697e69;
$phthalo-green-primary-light: #94af94;

$mulled-wine-primary: #2D3250;
$mulled-wine-secondary: #424769;
$mulled-wine-primary-semi-light: #545d8a;
$mulled-wine-primary-light: #7077A1;

$theme-bg: "theme-bg";
$theme-color: "theme-color";
$theme-sidebar-bg: "theme-sidebar-bg";
$theme-sidebar-color: "theme-sidebar-color";
$theme-primary-semi-light: "theme-primary-semi-light";
$theme-primary-light: "theme-primary-light";

$light-theme-colors: (
    $theme-bg: $secondary,
    $theme-color: $black,
    $theme-sidebar-bg: $primary,
    $theme-sidebar-color: $white,
    $theme-primary-semi-light: $primary-semi-light,
    $theme-primary-light: $primary-light
);

$dark-theme-colors: (
    $theme-bg: $dark-secondary,
    $theme-color: $white,
    $theme-sidebar-bg: $dark-primary,
    $theme-sidebar-color: $white,
    $theme-primary-semi-light: $dark-primary-semi-light,
    $theme-primary-light: $dark-primary-light
);

$deep-sapphire-theme-colors: (
    $theme-bg: $deep-sapphire-secondary,
    $theme-color: $white,
    $theme-sidebar-bg: $deep-sapphire-primary,
    $theme-sidebar-color: $white,
    $theme-primary-semi-light: $deep-sapphire-primary-semi-light,
    $theme-primary-light: $deep-sapphire-primary-light
);

$phthalo-green-theme-colors: (
    $theme-bg: $phthalo-green-secondary,
    $theme-color: $white,
    $theme-sidebar-bg: $phthalo-green-primary,
    $theme-sidebar-color: $white,
    $theme-primary-semi-light: $phthalo-green-primary-semi-light,
    $theme-primary-light: $phthalo-green-primary-light
);

$mulled-wine-theme-colors: (
    $theme-bg: $mulled-wine-secondary,
    $theme-color: $white,
    $theme-sidebar-bg: $mulled-wine-primary,
    $theme-sidebar-color: $white,
    $theme-primary-semi-light: $mulled-wine-primary-semi-light,
    $theme-primary-light: $mulled-wine-primary-light
);

$themes: (
    $light-theme: $light-theme-colors,
    $dark-theme: $dark-theme-colors,
    $deep-sapphire-theme: $deep-sapphire-theme-colors,
    $phthalo-green-theme: $phthalo-green-theme-colors,
    $mulled-wine-theme: $mulled-wine-theme-colors,
) !default;
